h1{
    text-align:left;
    padding: 30px;
    font-size: 70px;
    font-weight: bold;

}
body{
    background-color: lightgoldenrodyellow;
}
button{
    margin:50px 90px 50px;
    padding: 50px 500px 50px;
}
p{
    letter-spacing: 2px;
    font-size: 30px;
}
div{
    padding:px;
}
h3{
    font-size: 50px;
    font-weight: bold;
}
hr{

  padding: 20px;
}
header{
    background-color: lightseagreen;
    padding:50px 50px 50px;
}
footer{
    background-color: lightseagreen;
    padding:50px 50px 50px;
    text-align: center;
}
.requisitos{
    padding:50px 20px 50px;
    color: rgb(255, 255, 255);
}
.invalido{
    color: red;
}
.valido{
    color: blue;
}